<%= form_for(other_building) do |f| %>
  <% if other_building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(other_building.errors.count, "error") %> prohibited this other_building from being saved:</h2>

      <ul>
      <% other_building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Breakroom %>
    <%= f.text_field :Breakroom %>
  </div>

  <div class="field">
    <%= f.label :TelephoneRoom %>
    <%= f.text_field :TelephoneRoom %>
  </div>

  <div class="field">
    <%= f.label :Restroom %>
    <%= f.text_field :Restroom %>
  </div>

  <div class="field">
    <%= f.label :FID %>
    <%= f.text_field :FID %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
